build/*
build_test/*
.vscode/*

ESP/slave/build
ESP/slave/build/*
ESP/slave/sdkconfig

ESP/master/build
ESP/master/build/*
ESP/master/sdkconfig

ESP/masterAndSlave/build
ESP/masterAndSlave/build/*
ESP/masterAndSlave/sdkconfig

ESP/I2C_ESP32/build/*
ESP/I2C_ESP32/sdkconfig
ESP/I2C_ESP32/sdkconfig.old
